@{
    ViewBag.Title = "Nossa História";
}
<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area">
    <div class="ht__bradcaump__container">
        <img src="~/Imagens/6.png" alt="bradcaump images">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">Sobre nós</h2>
                        <nav class="bradcaump-inner">
                            <a class="breadcrumb-item" href="@Url.Action("Index", "Home")">Início</a>
                            <span class="brd-separetor"><img src="~/Imagens/brad.png" alt="separator images"></span>
                            <span class="breadcrumb-item active">Sobre nós</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- Start Class Details -->
<section class="page-class-details bg--white section-padding--lg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="class__quality__desc">

                    <div class="class-details-inner">
                        <div class="courses__inner">
                            <h2>Quem somos</h2>
                            <ul>

                            </ul>
                            <p>Lor error sit volupta aclaud anti Ium, toe ape sriam, ab illnv ritatis et quasi jhaie zanfin archite tbe latae viliq.Lorem ipsum dolor sit ameveritatis evoluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consemagnam aliquam quaerat voluptatem.</p>
                        </div>

                        <div class="class__nav nav justify-content-between" role="tablist">
                            <a class="nav-item nav-link active" data-toggle="tab" href="#nav-view" role="tab">Missão</a>
                            <a class="nav-item nav-link" data-toggle="tab" href="#nav-teacher" role="tab">Valores</a>
                            <a class="nav-item nav-link" data-toggle="tab" href="#nav-review" role="tab">História</a>
                        </div>

                        <div class="class__tab__content--inner">
                            <div class="class__view single-class-content tab-pane fade show active" id="nav-view" role="tablist">
                                <h2>Missão</h2>
                                <p>Lor error sit volupta aclaud anti Ium, toe ape sriam, ab illnv ritatis et quasi jhaie zanfin arch nite  nlatae viliq.Lorem ipsum dolor sit ameveritatis evoluptatem sequi nesciunt. Neque porro quisquam edolorem ipsum quia dolor sit amet, consemagnam aliquam quaerat voluptatem.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com</p>

                                <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid funti labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud emco laboris.</blockquote>

                                <ul class="class__related">
                                    <li><a href="">Acolher bem nosso internos com respeito</a></li>
                                    <li><a href="">Duis aute irure dolor in reprehenderit in voluptat</a></li>
                                    <li><a href="">Duis aute irure dolor in reprehenderit in voluptat</a></li>
                                    <li><a href="">Duis aute irure dolor in reprehenderit in voluptat</a></li>
                                    <li><a href="">Excepteur sint occaecat cupidatat non proident</a></li>
                                    <li><a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sedd.</a></li>

                                </ul>


                            </div>

                            <div class="teacher__view single-class-content tab-pane fade" id="nav-teacher" role="tablist">

                                <!-- Start Dingle Teacher -->
                                <div class="teacher">

                                    <h2>Valores</h2>
                                    <span>Drawing Instructor</span>
                                    <p>Lor error sit volupta aclaud anti Ium, toape sriam, ab illnv ritatis et qua jhaie zaarchite tbe viliq.Lorem ipsum doameve ritatis evoluptsequi nesciunt. quisquam est, qui dolorem ipsum quia dolo consectetur adipisicing elit, sed do eiusmodincididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                                    <ul class="class__service d-flex justify-content-between flex-wrap flex-lg-nowrap">
                                        <li>
                                            <span class="title">Repouso</span>
                                        </li>
                                        <li>
                                            <span class="title">Cuidado</span>
                                        </li>
                                        <li>
                                            <span class="title">Acolhimento</span>
                                        </li>
                                        <li>
                                            <span class="title">Atenção</span>
                                        </li>
                                        <li>
                                            <span class="title">Respeito</span>
                                        </li>
                                    </ul>
                                </div>
                                <!-- End Dingle Teacher -->

                            </div>

                            <div class="teacher__view single-class-content tab-pane fade" id="nav-review" role="tablist">

                                <!-- Start Dingle Teacher -->
                                <div class="teacher">

                                    <h2>Um pouco da nossa história</h2>

                                    <p>Casa foi inaugurada com o objetivo de acolher os idosos que precisavam de uma atenção profissional ...</p>

                                    <div class="timeline-event">
                                        <div class="col-sm-6 pull-left historia-direita">
                                            <h2>2005-2009</h2>
                                            <h5>Junior Designer at Black Rock Interactive Agency<br></h5>
                                        </div>

                                        <div class="middle">
                                            <i class="fa fa-4x fa-map"></i>
                                            <div class="vertical-line"></div>
                                        </div>

                                        <div class="col-sm-6 pull-right historia-esquerda">
                                            <p>
                                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.&nbsp;
                                            </p>
                                        </div>


                                    </div>

                                    <div class="timeline-event">
                                        <div class="col-sm-6 pull-right historia-esquerda">
                                            <h2>2009-2010</h2>
                                            <h5>Design Team Leader at Creativo INC.</h5>
                                        </div>

                                        <div class="middle">
                                            <i class="fa fa-4x fa-calculator"></i>
                                            <div class="vertical-line"></div>
                                        </div>

                                        <div class="col-sm-6 pull-left historia-direita">
                                            <p>
                                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                            </p>

                                        </div>
                                    </div>

                                    <div class="timeline-event">
                                        <div class="col-sm-6 pull-left historia-direita">
                                            <h2>2010-2015</h2>
                                            <h5>Junior Creative Director at One Shot Agency</h5>
                                        </div>

                                        <div class="middle">
                                            <i class="fa fa-4x fa-car"></i>
                                            <div class="vertical-line"></div>
                                        </div>

                                        <div class="col-sm-6 pull-right historia-esquerda">
                                            <p>
                                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                            </p>
                                        </div>


                                    </div>

                                    <div class="timeline-event">
                                        <div class="col-sm-6 pull-right historia-esquerda">
                                            <h2>2015</h2>
                                            <h5>Freelance</h5>
                                        </div>

                                        <div class="middle">
                                            <i class="fa fa-4x fa-table"></i>
                                            <div class="vertical-line"></div>
                                        </div>

                                        <div class="col-sm-6 pull-left historia-direita">
                                            <p>
                                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                            </p>

                                        </div>
                                    </div>
                                </div>
                                <!-- End Dingle Teacher -->

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Class Details -->